.container{
    margin-top: 20rem;
}
.column{
    float: left;
}
.table {
    text-align: center;
    font-size: 10px;
    font-family: sans-serif;
}
.table-vertical{
    text-align: center;
    font-size: 10px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 0.15rem;
}
.row{
    display: flex;
}

.row > * {
    text-align: center;
    border: 2px solid black;
    border-radius: 0.5rem;
    width: 2.2rem;
    height: 2.2rem;
    margin: 0.2rem;
    box-sizing: border-box;
    -webkit-user-select: none;
}
.key-down{
    border: 2px solid orange;
}
.key-up{
    border: 2px solid green;
}
.functionKey{
    width: 2.497rem;
}
.middleKey{
    width: 3.7rem;
}
.largeKey{
    width: 4.8rem;
}
.giantKey{
    width: 7.4rem;
}
.spaceKey{
    width: 19.9rem;
}
.verticalKey{
    height: 4.8rem;
}